@font-face {
    font-family: 'STI';
    font-style: normal;
    font-weight: 100 900;
    src: url("/assets/fonts/Switzer-Variable.ttf") format("truetype")
}

* {
  color: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-decoration: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.125em;
}

:root {
  --page: rgb(255,255,255);
  --gutter-x: 8vw;
  --gutter-y: 1.25rem;
  --color: rgb(0,0,0);
  --color-faded: rgb(230,230,230);
  --hero-font-size: 12vw;
  --hero-font-weight: 480;
  --hero-letter-spacing: -0.06em;
  --hero-line-height: 0.66;
  --hero-color: color(display-p3 1 0.432 0.37 / 1);
  --blockquote-bg: rgba(126,126,126,0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page: rgb(0,0,0);
    --color: rgb(255,255,255);
    --color-faded: rgb(50,50,50);
    --hero-font-weight: 450;
    --blockquote-bg: rgba(126,126,126,0.2);
  }
}

html {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--color);
  font-family: "STI", sans-serif;
  font-size: 14px;
  font-weight: 520;
  letter-spacing: 0.01em;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y proximity;
  display: flex;
  flex-direction: column;
  background: var(--page);
  // align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: sticky;
  top: 0;
  padding: var(--gutter-y) var(--gutter-x);
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // text-align: center;
  & > a {
    display: flex;
    flex-direction: column;
    &:hover,
    &:focus {
      span:first-child {
        text-decoration: underline;
      }
    }
  }
  span {
    font-size: 20px;
    line-height: 1.15;
    span {
      display: inline;
      visibility: hidden;
    }
  }
}

body > section {
  position: relative;
  padding: var(--gutter-y) var(--gutter-x);
  scroll-snap-align: start;
  scroll-margin: calc(2.5em + 46px);
  color: var(--color-faded);
  transition: 0.6s ease-out;
  &:last-of-type {
    margin-bottom: calc(100vh - 14vw);
  }
  a {
    display: inline-block;
    font-size: var(--hero-font-size);
    font-weight: var(--hero-font-weight);
    letter-spacing: var(--hero-letter-spacing);
    line-height: var(--hero-line-height);
    text-indent: -0.075em;
  }
  &.is-snapped {
    z-index: 20;
    color: var(--color);
    transition: 0.1s ease-out;
    strong {
      color: var(--hero-color);
    }
  }
}

main {
  padding: var(--gutter-y) var(--gutter-x);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 2;
  gap: 3.5rem;
  // align-items: center;
  h1 {
    width: 100%;
    font-size: var(--hero-font-size);
    font-weight: var(--hero-font-weight);
    letter-spacing: var(--hero-letter-spacing);
    line-height: var(--hero-line-height);
    text-indent: -0.075em;
    margin-bottom: auto;
    strong {
      color: var(--hero-color);
    }
  }
  section {
    display: flex;
    flex-direction: row;
    gap: var(--gutter-y);
    max-width: 42rem;
    div {
      flex-grow: 2;
      h2 {
        font-size: 20px;
        line-height: 1.15;
        padding-bottom: 0.2rem;
        // padding-right: var(--gutter-y);
        // float: left;
      }
      // &:nth-child(2) {
      //   color: var(--hero-color);
      // }
      p {
        hyphens: auto;
      }
    }
  }
  #content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gutter-y);
    p {
      font-size: 20px;
      line-height: 1.15;
    }
  }
  blockquote {
    display: inline-flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: var(--gutter-y);
    // background: var(--blockquote-bg);
    border-radius: 2.5rem;
    border: 1.5px solid;
    cite {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      span {
        font-weight: 400;
        opacity: 0.6;
      }
    }
    p {
      line-height: 1.25!important;
      span {
        display: block;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      em {
        color: var(--hero-color);
      }
    }
  }
}

footer {
  position: sticky;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  padding: 2.5em var(--gutter-x) var(--gutter-y);
  margin-top: auto;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  // justify-content: center;
  gap: var(--gutter-y);
  h3 {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 46px;
    line-height: 37px;
    padding-bottom: 1px;
    margin-right: -0.05em;
  }
  hr {
    width: 4.5rem;
    height: 1.5px;
    border: none;
    background: var(--color);
    margin: auto 0;
  }
  a {
    font-size: 20px;
    line-height: 1.15;
    display: flex;
    align-items: center;
    margin: 0.15em 0 0.15em;
    padding: 0 0.75rem 0.1em;
    border: 1.5px solid;
    border-radius: 0.5em;
  }
  p {
    font-size: 20px;
    line-height: 1.15;
  }
}